node_modules/
## until out of beta -  dist/
*.log
.DS_Store
.vscode/
*.zip
HANDOVER.md
CLAUDE.md
.claude/
MVP_CHECKLIST.md
TESTING_CONTENTEDITABLE.md
BETA_CHECKLIST.md
TESTING.md
TESTING_CHECKLIST.md
TESTING-PLAN.md
